[data-testid=stSidebar] {
    background-color: #181818;
    color: white;
}

.stApp{
    background-color: #303030;
}
#infinum-jurismind{
color: white;
}
.st-emotion-cache-128upt6{
background-color: #303030;
}

.stAppHeader{
background-color: #303030;
}

.st-emotion-cache-1m4c89a{
 color: white;
width: 17vw;
text-align: left;  
padding-left: 10px;

}

[data-testid=stBaseButton-secondary]{
background-color: #181818;
}
[data-testid=stBaseButton-secondary]:hover{
background-color: #303030;
}

[data-testid=stBaseButton-secondary]{
color: white;
}
.st-emotion-cache-179n174{
color: white;
}